<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.samrayner.Sprintly</string>
	<key>connections</key>
	<dict>
		<key>860297E8-9AB1-444A-94C9-70BD21D02341</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A1F1B3F-A822-488D-BFC1-DBC875F2E5F9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9371B276-809C-43E7-AC8E-9308F699FDF4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A1F1B3F-A822-488D-BFC1-DBC875F2E5F9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9B17F835-DC9E-4E07-B11E-A7B06639D2D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9371B276-809C-43E7-AC8E-9308F699FDF4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F2B8DD59-F15D-4009-B012-3EC91145A3E7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>860297E8-9AB1-444A-94C9-70BD21D02341</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Sam Rayner</string>
	<key>description</key>
	<string>Manage Sprint.ly products from Alfred</string>
	<key>name</key>
	<string>Sprint.ly</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sly setup</string>
				<key>subtext</key>
				<string>Required arguments: &lt;email&gt; &lt;api_key&gt;</string>
				<key>text</key>
				<string>Set Sprint.ly Email and API Key</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9B17F835-DC9E-4E07-B11E-A7B06639D2D4</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>COMMAND = "setup"
QUERY = "{query}"
load 'run_command.rb'</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9371B276-809C-43E7-AC8E-9308F699FDF4</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Sprint.ly</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4A1F1B3F-A822-488D-BFC1-DBC875F2E5F9</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>COMMAND = "switch_product"
QUERY = "{query}"
load 'run_command.rb'</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>860297E8-9AB1-444A-94C9-70BD21D02341</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>sly product</string>
				<key>script</key>
				<string>COMMAND = "products"
QUERY = "{query}"
load 'run_command.rb'</string>
				<key>subtext</key>
				<string>What do you want to work on?</string>
				<key>title</key>
				<string>Switch Sprint.ly Product</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F2B8DD59-F15D-4009-B012-3EC91145A3E7</string>
		</dict>
	</array>
	<key>uidata</key>
	<dict>
		<key>4A1F1B3F-A822-488D-BFC1-DBC875F2E5F9</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>860297E8-9AB1-444A-94C9-70BD21D02341</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>9371B276-809C-43E7-AC8E-9308F699FDF4</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>9B17F835-DC9E-4E07-B11E-A7B06639D2D4</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F2B8DD59-F15D-4009-B012-3EC91145A3E7</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://samrayner.com</string>
</dict>
</plist>
