<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.samrayner.Sprintly</string>
	<key>connections</key>
	<dict>
		<key>572546EF-D4A9-4523-B063-960AB9AA3C26</key>
		<array/>
		<key>663CF8A1-EE33-424C-B650-1DEB0927EBFA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>572546EF-D4A9-4523-B063-960AB9AA3C26</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>769A2111-E4B2-47B3-BB87-FBEEC9FB40F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>95D043B1-6F35-4DD0-A449-379C47F588D1</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>View in browser</string>
			</dict>
		</array>
		<key>769A2111-E4B2-47B3-BB87-FBEEC9FB40F2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A1F1B3F-A822-488D-BFC1-DBC875F2E5F9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>860297E8-9AB1-444A-94C9-70BD21D02341</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A1F1B3F-A822-488D-BFC1-DBC875F2E5F9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9371B276-809C-43E7-AC8E-9308F699FDF4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A1F1B3F-A822-488D-BFC1-DBC875F2E5F9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>95D043B1-6F35-4DD0-A449-379C47F588D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A1F1B3F-A822-488D-BFC1-DBC875F2E5F9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9B17F835-DC9E-4E07-B11E-A7B06639D2D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9371B276-809C-43E7-AC8E-9308F699FDF4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9E24F479-497F-4B26-A8A8-3BCF2554E43B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A1F1B3F-A822-488D-BFC1-DBC875F2E5F9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A0C0D92C-2BCE-4BA0-8D52-F83254B29506</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A1A8C844-E445-4237-A32E-D7F0CEB26F37</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A1A8C844-E445-4237-A32E-D7F0CEB26F37</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A1F1B3F-A822-488D-BFC1-DBC875F2E5F9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A5ABA5DC-6451-4FED-B8A7-AD113D8374AC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95D043B1-6F35-4DD0-A449-379C47F588D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A848D7D3-1766-4232-9FA6-03D327C33572</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95D043B1-6F35-4DD0-A449-379C47F588D1</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>View in browser</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9E24F479-497F-4B26-A8A8-3BCF2554E43B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BD5A6A85-BD7F-4FE4-A788-C0E9FECB3FFB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95D043B1-6F35-4DD0-A449-379C47F588D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F2B8DD59-F15D-4009-B012-3EC91145A3E7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>860297E8-9AB1-444A-94C9-70BD21D02341</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B6D6068E-B381-4ECA-9087-3B0BC80C0DFD</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>View in browser</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Sam Rayner</string>
	<key>description</key>
	<string>Manage Sprint.ly products from Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Sprint.ly</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sly setup</string>
				<key>subtext</key>
				<string>Required arguments: &lt;email&gt; &lt;api_key&gt;</string>
				<key>text</key>
				<string>Set Sprint.ly Email and API Key</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9B17F835-DC9E-4E07-B11E-A7B06639D2D4</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>COMMAND = "setup"
QUERY = "{query}"
load 'run_command.rb'</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9371B276-809C-43E7-AC8E-9308F699FDF4</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>sly new</string>
				<key>script</key>
				<string>COMMAND = "new"
QUERY = "{query}"
load 'run_command.rb'</string>
				<key>subtext</key>
				<string>Use format: story s As a user, I want this so that this #tag @sam</string>
				<key>title</key>
				<string>Add a New Sprint.ly Item</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A0C0D92C-2BCE-4BA0-8D52-F83254B29506</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>COMMAND = "add_item"
QUERY = "{query}"
load 'run_command.rb'</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A1A8C844-E445-4237-A32E-D7F0CEB26F37</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Sprint.ly</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4A1F1B3F-A822-488D-BFC1-DBC875F2E5F9</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>sly product</string>
				<key>runningsubtext</key>
				<string>Fetching products...</string>
				<key>script</key>
				<string>COMMAND = "products"
QUERY = "{query}"
load 'run_command.rb'</string>
				<key>subtext</key>
				<string>What do you want to work on?</string>
				<key>title</key>
				<string>Switch Sprint.ly Product</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F2B8DD59-F15D-4009-B012-3EC91145A3E7</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>COMMAND = "switch_product"
QUERY = "{query}"
load 'run_command.rb'</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>860297E8-9AB1-444A-94C9-70BD21D02341</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>sly item #</string>
				<key>runningsubtext</key>
				<string>Fetching item...</string>
				<key>script</key>
				<string>COMMAND = "item"
QUERY = "{query}"
load 'run_command.rb'</string>
				<key>subtext</key>
				<string>Preview an item, hit return to view in browser</string>
				<key>title</key>
				<string>Get a Sprint.ly Item by ID</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A5ABA5DC-6451-4FED-B8A7-AD113D8374AC</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>COMMAND = "open_product_url"
QUERY = "{query}"
load 'run_command.rb'</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B6D6068E-B381-4ECA-9087-3B0BC80C0DFD</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>COMMAND = "git_branch"
QUERY = "{query}"
load 'run_command.rb'</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>572546EF-D4A9-4523-B063-960AB9AA3C26</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>sly start</string>
				<key>runningsubtext</key>
				<string>Fetching Backlog items...</string>
				<key>script</key>
				<string>COMMAND = "list"
QUERY = "backlog {query}"
load 'run_command.rb'</string>
				<key>subtext</key>
				<string>Move an item from Backlog to Current</string>
				<key>title</key>
				<string>Start an Item From Sprint.ly Backlog</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>663CF8A1-EE33-424C-B650-1DEB0927EBFA</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>COMMAND = "move_item"
QUERY = "{query} current"
load 'run_command.rb'</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>769A2111-E4B2-47B3-BB87-FBEEC9FB40F2</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>sly list</string>
				<key>script</key>
				<string>COMMAND = "list"
QUERY = "{query}"
load 'run_command.rb'</string>
				<key>subtext</key>
				<string>Get items from Backlog, Current, Completed or Accepted</string>
				<key>title</key>
				<string>List Sprint.ly Items</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BD5A6A85-BD7F-4FE4-A788-C0E9FECB3FFB</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>COMMAND = "open_item_url"
QUERY = "{query}"
load 'run_command.rb'</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>95D043B1-6F35-4DD0-A449-379C47F588D1</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>sly finish</string>
				<key>runningsubtext</key>
				<string>Fetching Current items…</string>
				<key>script</key>
				<string>COMMAND = "list"
QUERY = "current {query}"
load 'run_command.rb'</string>
				<key>subtext</key>
				<string>Move an item from Current to Completed</string>
				<key>title</key>
				<string>Finish a Current Sprint.ly Item</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A848D7D3-1766-4232-9FA6-03D327C33572</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>COMMAND = "move_item"
QUERY = "{query} completed"
load 'run_command.rb'</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9E24F479-497F-4B26-A8A8-3BCF2554E43B</string>
		</dict>
	</array>
	<key>readme</key>
	<string>Sprint.ly Workflow for Alfred 2
http://samrayner.com/alfred-sprintly


Installation
------------

Requirements: Ruby &gt;= 1.9.x must be installed with RVM (https://rvm.io/) or rbenv (https://github.com/sstephenson/rbenv/).

sly setup {email} {api_key}
Your API key can be obtained from https://sprint.ly/account/profile/


Commands
--------

sly product {filter}
List products, `return` to switch active product, `alt+return` to view in browser

sly list {status} {@name} {filter}
List items (optionally filtered by person), `return` to view in browser

sly start {filter}
List Backlog items, `return` to move item to Current, `alt+return` to view in browser. Also copies a `git branch` command for the item to the clipboard.

sly finish {filter}
List Current items, `return` to move item to Completed, `alt+return` to view in browser

sly new {type} {size} {title} {#tag} {@name}
Add a new item to Backlog (hit `return` when done)

sly item #{id}
Preview an item by ID, `return` to view in browser


Tips
----

`cmd+c` on a highlighted product or item will copy its #ID to the clipboard (useful for commit messages)

Story titles can be entered shorthand as: aa user iw this st that

`tab` has the same effect as `return`</string>
	<key>uidata</key>
	<dict>
		<key>4A1F1B3F-A822-488D-BFC1-DBC875F2E5F9</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>572546EF-D4A9-4523-B063-960AB9AA3C26</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>663CF8A1-EE33-424C-B650-1DEB0927EBFA</key>
		<dict>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>769A2111-E4B2-47B3-BB87-FBEEC9FB40F2</key>
		<dict>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>860297E8-9AB1-444A-94C9-70BD21D02341</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>9371B276-809C-43E7-AC8E-9308F699FDF4</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>95D043B1-6F35-4DD0-A449-379C47F588D1</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>9B17F835-DC9E-4E07-B11E-A7B06639D2D4</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>9E24F479-497F-4B26-A8A8-3BCF2554E43B</key>
		<dict>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>A0C0D92C-2BCE-4BA0-8D52-F83254B29506</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>A1A8C844-E445-4237-A32E-D7F0CEB26F37</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>A5ABA5DC-6451-4FED-B8A7-AD113D8374AC</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>A848D7D3-1766-4232-9FA6-03D327C33572</key>
		<dict>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>B6D6068E-B381-4ECA-9087-3B0BC80C0DFD</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>BD5A6A85-BD7F-4FE4-A788-C0E9FECB3FFB</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>F2B8DD59-F15D-4009-B012-3EC91145A3E7</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://samrayner.com</string>
</dict>
</plist>
